.benefit {
    text-align: center;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phones {
        display: flex;
        text-align: left;
        flex-direction: row;
    }
}

.benefit__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background: #F2F5F4;

}

.benefit__icon {
    width: rem(75px);
    height: rem(69px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.benefit__title {
    font-size: 24px;
    font-weight: bold;
}

.benefit__image {
    margin-bottom: rem(19px);

    @include phones {
        margin-bottom: 0;
        margin-right: rem(20px);
    }
}