.btn {
    font-style: rem(19px);
    font-weight: bold;
    padding: rem(18px) rem(35px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;

    &--theme--orange {
        background: #fff;
        color: #292929;

        &:hover {
            background: #E01F3D;
            color: #fff;
        }
    }
}