.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    margin: 0 30px;
    flex-wrap: wrap ;

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}

.menu__item {
    margin-right: rem(45px);

    &:last-child {
        margin-right: 0;
    }
}

.phone-number {
    font-size: rem(24px);
    text-decoration: none;
}

.phone-number {
    font-size: rem(18px);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: play;
    flex-shrink: 0;
}

.phone-number__icon-elem {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
}

.header__phone-number {
    @include tablets {
        display: none;
    }
}

.adress {
    font-size: 18px;
    color: #292929;
    font-family: play;
}


