.preview {
    background-color: #F5F5F5;
    height: 100vh;
    min-height: rem(650px);
    color: #292929;
    position: relative;

    &:before, &:after {
        @include tablets {
            display: none;
        }
    }

    &::before {
        content: url(./assets/Rectangle\ 14.png);
        position: absolute;
        bottom: rem(-22px);
        left: 2%;
    }

    &::after {
        content: url(./assets/Rectangle\ 14.png);
        position: absolute;
        bottom: rem(-22px);
        right: rem(20px);
    }
}

.preview__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(45px);
    background: url(./assets/beats-headphones.png) right center / 50% auto no-repeat;

    @include tablets {
        background: none;
    }
}

.preview__main-title {
    font-size: rem(46px);
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: rem(15px);
    text-transform: uppercase;
}

.preview__title-desc {
    margin: 34px 0;
    font-size: rem(21px);
    margin-bottom: rem(28px);
    padding-right: 10%;
    line-height: 1.1;

    @include tablets {
        padding: 25%;
        margin: -46px 0;
    }

    @include phones {
        padding: 0 16%;
        margin: 2px 0;
    }
}

.preview__title-section {
    width: 46%;
    line-height: 1.1;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &:before {
            content: "";
            width: rem(316px);
            height: rem(330px);
            background: url(./assets/beats-headphones.png) center center / contain no-repeat;
            margin-bottom: 16px;
        }
    }
}

.preview__icons-section {
    @include tablets {
        display: none;
    }
}