.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid #E01F3D;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar__link {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.interactive-avatar-img {
  margin: 0 12px;
}

.container__section {
  background: #F8FAF9;
}